---
import Heading from '../../components/Heading.astro';
import { columns } from '../../components/posts/columns';
import { DataTable } from '../../components/posts/data-table';
import { Button } from '../../components/ui/button';
import RedLayout from '../../layouts/RedLayout.astro';

const PUBLIC_API_BASE_URL = import.meta.env.PUBLIC_API_BASE_URL;

let posts = [];

try {
  const res = await fetch(PUBLIC_API_BASE_URL);
  const { data } = await res.json();
  posts = data;
} catch (error) {
  console.error(error);
}
---

<RedLayout title="Post">
  <div slot="main" class="main-slot">
    <Heading tagName="h1" size="h4" classes="neue76"> POSTS </Heading>

    <a href="/add-post">
      <Button variant="outline"> Add post </Button>
    </a>

    <div class="mt-6">
      <DataTable columns={columns} data={posts} />
    </div>
  </div>
</RedLayout>
