---
import Heading from '../../components/Heading.astro';
import { columns } from '../../components/posts/columns';
import { DataTable } from '../../components/posts/data-table';
import { Button } from '../../components/ui/button';
import RedLayout from '../../layouts/RedLayout.astro';

// import Heading from '../components/Heading.astro';
// import { columns } from '../components/posts/columns';
// import { DataTable } from '../components/posts/data-table';
// import { Button } from '../components/ui/button';
// import RedLayout from '../layouts/RedLayout.astro';

// Fetch data from the endpoint
const res = await fetch('http://localhost:3000/api/v1/post');
const { data: posts } = await res.json();
---

<RedLayout title="Post">
  <div slot="main" class="main-slot">
    <Heading tagName="h1" size="h4" classes="neue76"> POSTS </Heading>

    <a href="/add-post">
      <Button variant="outline"> Add post </Button>
    </a>

    <div class="mt-6">
      <DataTable columns={columns} data={posts} />
    </div>
  </div>
</RedLayout>
