@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/futura.ttf') format('truetype');
}

/* NHaasGroteskDSPro */

@font-face {
  font-family: 'NHaasGroteskDSPro-15UltTh';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-15UltTh.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-16UltThIt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-16UltThIt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-25Th';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-25Th.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-26ThIt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-26ThIt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-35XLt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-35XLt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-36XLtIt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-36XLtIt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-45Lt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-45Lt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-46LtIt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-46LtIt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-55Rg';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-55Rg.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-56It';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-56It.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-65Md';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-65Md.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-66MdIt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-66MdIt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-75Bd';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-75Bd.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-76BdIt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-76BdIt.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-95Blk';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-95Blk.otf') format('opentype');
}

@font-face {
  font-family: 'NHaasGroteskDSPro-96BlkIt';
  src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-96BlkIt.otf') format('opentype');
}

/* Mark Pro */

@font-face {
  font-family: 'FF-Mark-Pro-Book';
  src: url('/public/fonts/mark-pro/FF-Mark-Pro-Book.otf') format('opentype');
}

@font-face {
  font-family: 'MarkPro-Black';
  src: url('/public/fonts/mark-pro/MarkPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro-ExtraLight';
  src: url('/public/fonts/mark-pro/MarkPro-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro-Hairline';
  src: url('/public/fonts/mark-pro/MarkPro-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro-Heavy';
  src: url('/public/fonts/mark-pro/MarkPro-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro-Light';
  src: url('/public/fonts/mark-pro/MarkPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro-Medium';
  src: url('/public/fonts/mark-pro/MarkPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro-Thin';
  src: url('/public/fonts/mark-pro/MarkPro-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkPro';
  src: url('/public/fonts/mark-pro/MarkPro.ttf') format('truetype');
}


@font-face {
  font-family: 'Aduma-Bold';
  src: url('/fonts/aduma/AdumaFOT-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Aduma-Heavy';
  src: url('/fonts/aduma/AdumaFOT-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'Aduma-Light';
  src: url('/fonts/aduma/AdumaFOT-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Aduma-Medium';
  src: url('/fonts/aduma/AdumaFOT-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Aduma-Regular';
  src: url('/fonts/aduma/AdumaFOT-Regular.otf') format('opentype');
}

/* Brandon */

@font-face {
  font-family: 'Brandon-Bold-Italic';
  src: url('/public/fonts/brandon/Brandon_bld_it.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Bold';
  src: url('/public/fonts/brandon/Brandon_bld.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Black-Italic';
  src: url('/public/fonts/brandon/Brandon_blk_it.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Black';
  src: url('/public/fonts/brandon/Brandon_blk.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Light-Italic';
  src: url('/public/fonts/brandon/Brandon_light_it.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Light';
  src: url('/public/fonts/brandon/Brandon_light.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Medium-Italic';
  src: url('/public/fonts/brandon/Brandon_med_it.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Medium';
  src: url('/public/fonts/brandon/Brandon_med.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Regular-Italic';
  src: url('/public/fonts/brandon/Brandon_reg_it.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Regular';
  src: url('/public/fonts/brandon/Brandon_reg.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Thin-Italic';
  src: url('/public/fonts/brandon/Brandon_thin_it.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon-Thin';
  src: url('/public/fonts/brandon/Brandon_thin.otf') format('opentype');
}

.futura {
  font-family: 'Futura', 'Times New Roman', Times, serif;
}

.neue15 {
  font-family: 'NHaasGroteskDSPro-15UltTh', 'Times New Roman', Times, serif;
}

.neue16 {
  font-family: 'NHaasGroteskDSPro-16UltThIt', 'Times New Roman', Times, serif;
}

.neue35 {
  font-family: 'NHaasGroteskDSPro-35XLt', 'Times New Roman', Times, serif;
}

.neue36 {
  font-family: 'NHaasGroteskDSPro-36XLtIt', 'Times New Roman', Times, serif;
}

.neue45 {
  font-family: 'NHaasGroteskDSPro-45Lt', 'Times New Roman', Times, serif;
}

.neue46 {
  font-family: 'NHaasGroteskDSPro-46LtIt', 'Times New Roman', Times, serif;
}

.neue55 {
  font-family: 'NHaasGroteskDSPro-55Rg', 'Times New Roman', Times, serif;
}

.neue56 {
  font-family: 'NHaasGroteskDSPro-56It', 'Times New Roman', Times, serif;
}

.neue65 {
  font-family: 'NHaasGroteskDSPro-65Md', 'Times New Roman', Times, serif;
}

.neue66 {
  font-family: 'NHaasGroteskDSPro-66MdIt', 'Times New Roman', Times, serif;
}

.neue75 {
  font-family: 'NHaasGroteskDSPro-75Bd', 'Times New Roman', Times, serif;
}

.neue76 {
  font-family: 'NHaasGroteskDSPro-76BdIt', 'Times New Roman', Times, serif;
}

.neue95 {
  font-family: 'NHaasGroteskDSPro-95Blk', 'Times New Roman', Times, serif;
}

.neue96 {
  font-family: 'NHaasGroteskDSPro-96BlkIt', 'Times New Roman', Times, serif;
}

.mark-pro-book {
  font-family: 'FF-Mark-Pro-Book', 'Times New Roman', Times, serif;
}

.mark-pro-black {
  font-family: 'MarkPro-Black', 'Times New Roman', Times, serif;
}

.mark-pro-extra-light {
  font-family: 'MarkPro-ExtraLight', 'Times New Roman', Times, serif;
}

.mark-pro-hairline {
  font-family: 'MarkPro-Hairline', 'Times New Roman', Times, serif;
}

.mark-pro-heavy {
  font-family: 'MarkPro-Heavy', 'Times New Roman', Times, serif;
}

.mark-pro-light {
  font-family: 'MarkPro-Light', 'Times New Roman', Times, serif;
}

.mark-pro-medium {
  font-family: 'MarkPro-Medium', 'Times New Roman', Times, serif;
}

.mark-pro-thin {
  font-family: 'MarkPro-Thin', 'Times New Roman', Times, serif;
}

.mark-pro {
  font-family: 'MarkPro', 'Times New Roman', Times, serif;
}

.aduma-bold {
  font-family: 'Aduma-Bold', 'Times New Roman', Times, serif;
}

.aduma-heavy {
  font-family: 'Aduma-Heavy', 'Times New Roman', Times, serif;
}

.aduma-light {
  font-family: 'Aduma-Light', 'Times New Roman', Times, serif;
}

.aduma-medium {
  font-family: 'Aduma-Medium', 'Times New Roman', Times, serif;
}

.aduma-regular {
  font-family: 'Aduma-Regular', 'Times New Roman', Times, serif;
}

.brandon-bold-italic {
  font-family: 'Brandon-Bold-Italic', 'Times New Roman', Times, serif;
}

.brandon-bold {
  font-family: 'Brandon-Bold', 'Times New Roman', Times, serif;
}

.brandon-black-italic {
  font-family: 'Brandon-Black-Italic', 'Times New Roman', Times, serif;
}

.brandon-black {
  font-family: 'Brandon-Black', 'Times New Roman', Times, serif;
}

.brandon-light-italic {
  font-family: 'Brandon-Light-Italic', 'Times New Roman', Times, serif;
}

.brandon-light {
  font-family: 'Brandon-Light', 'Times New Roman', Times, serif;
}

.brandon-medium-italic {
  font-family: 'Brandon-Medium-Italic', 'Times New Roman', Times, serif;
}

.brandon-medium {
  font-family: 'Brandon-Medium', 'Times New Roman', Times, serif;
}

.brandon-regular-italic {
  font-family: 'Brandon-Regular-Italic', 'Times New Roman', Times, serif;
}

.brandon-regular {
  font-family: 'Brandon-Regular', 'Times New Roman', Times, serif;
}

.brandon-thin-italic {
  font-family: 'Brandon-Thin-Italic', 'Times New Roman', Times, serif;
}

.brandon-thin {
  font-family: 'Brandon-Thin', 'Times New Roman', Times, serif;
}

