---
import Form from '../components/Form';
import RedLayout from '../layouts/RedLayout.astro';
---


<RedLayout >
  <div slot="main">
    <h1>Página de Contacto</h1>

    <Form client:load />
  </div>
</RedLayout>
