---
import Heading from '../components/Heading.astro';
import LinkList from '../components/LinkList.astro';
import RedLayout from '../layouts/RedLayout.astro';
---

<RedLayout title="Dashboard">
  <div slot="main" class="main-slot">
    <Heading tagName="h1" size="h4" classes="neue76"> Dashboard! </Heading>

    <h2 class="neue76">This view is protected!</h2>

    <LinkList currentPage="/dashboard" />
  </div>
</RedLayout>
