---
import Heading from '../components/Heading.astro';
import RedLayout from '../layouts/RedLayout.astro';
---


<RedLayout title="Fonts">
  <div slot="main">
    <Heading tagName='h1' size='h4' classes='neue76'>
      FONTS
    </Heading>


    <div class="example">
      <h2>1. OTF (OpenType Font)</h2>
      <p>Compatible con la mayoría de los navegadores modernos. Es uno de los formatos más comunes para fuentes en la web y el escritorio.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {`
          @font-face {
            font-family: 'MyOTFFont';
            src: url('/fonts/my-font.otf') format('opentype');
          }`}
      </code></pre>
    </div>
  
    <div class="example">
      <h2>2. TTF (TrueType Font)</h2>
      <p>Es otro formato común de fuentes que es ampliamente soportado en la web.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {
          `
          @font-face {
            font-family: 'MyTTFFont';
            src: url('/fonts/my-font.ttf') format('truetype');
          }
          `
        }
      </code></pre>
    </div>
  
    <div class="example">
      <h2>3. WOFF y WOFF2 (Web Open Font Format)</h2>
      <p>Formato especialmente diseñado para la web. WOFF2 es una versión mejorada que ofrece mayor compresión.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {
          `
          @font-face {
            font-family: 'MyWOFFFont';
            src: url('/fonts/my-font.woff2') format('woff2'),
                url('/fonts/my-font.woff') format('woff');
          }
          `
        }
  
      </code></pre>
    </div>
  
    <div class="example">
      <h2>4. EOT (Embedded OpenType)</h2>
      <p>Fue diseñado para Internet Explorer y ya está en desuso en la mayoría de los navegadores modernos.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {
         `
          @font-face {
            font-family: 'MyEOTFont';
            src: url('/fonts/my-font.eot') format('embedded-opentype');
          }
         ` 
        }
      </code></pre>
    </div>


    <h2 class="title futura">MARYLINE - Futura</h2>
    <h2 class="title neue15">MARYLINE - neue15</h2>
    <h2 class="title neue16">MARYLINE - neue16</h2>
    <h2 class="title neue35">MARYLINE - neue35</h2>
    <h2 class="title neue36">MARYLINE - neue36</h2>
    <h2 class="title neue45">MARYLINE - neue45</h2>
    <h2 class="title neue46">MARYLINE - neue46</h2>
    <h2 class="title neue55">MARYLINE - neue55</h2>
    <h2 class="title neue56">MARYLINE - neue56</h2>
    <h2 class="title neue65">MARYLINE - neue65</h2>
    <h2 class="title neue66">MARYLINE - neue66</h2>
    <h2 class="title neue75">MARYLINE - neue75</h2>
    <h2 class="title neue76">MARYLINE - neue76</h2>
    <h2 class="title neue95">MARYLINE - neue95</h2>
    <h2 class="title neue96">MARYLINE - neue96</h2>

    <h2 class="title mark-pro-book">MARYLINE -  mark-pro-book</h2>
    <h2 class="title mark-pro-black">MARYLINE - mark-pro-black</h2>
    <h2 class="title mark-pro-extra-light">MARYLINE - mark-pro-extra-light</h2>
    <h2 class="title mark-pro-hairline">MARYLINE - mark-pro-hairline</h2>
    <h2 class="title mark-pro-heavy">MARYLINE - mark-pro-heavy</h2>
    <h2 class="title mark-pro-light">MARYLINE - mark-pro-light</h2>
    <h2 class="title mark-pro-medium">MARYLINE - mark-pro-medium</h2>
    <h2 class="title mark-pro-thin">MARYLINE - mark-pro-thin</h2>
    <h2 class="title mark-pro">MARYLINE - mark-pro</h2>
      

    <h2 class="title aduma-bold">MARYLINE - aduma-bold</h2>
    <h2 class="title aduma-heavy">MARYLINE - aduma-heavy</h2>
    <h2 class="title aduma-light">MARYLINE - aduma-light</h2>
    <h2 class="title aduma-medium">MARYLINE - aduma-medium</h2>
    <h2 class="title aduma-regular">MARYLINE - aduma-regular</h2>

  
    <h2 class="title brandon-bold-italic">MARYLINE - brandon-bold-italic</h2>
    <h2 class="title brandon-bold">MARYLINE - brandon-bold</h2>
    <h2 class="title brandon-black-italic">MARYLINE - brandon-black-italic</h2>
    <h2 class="title brandon-black">MARYLINE - brandon-black</h2>
    <h2 class="title brandon-light-italic">MARYLINE - brandon-light-italic</h2>
    <h2 class="title brandon-light">MARYLINE - brandon-light</h2>
    <h2 class="title brandon-medium-italic">MARYLINE - brandon-medium-italic</h2>
    <h2 class="title brandon-medium">MARYLINE - brandon-medium</h2>
    <h2 class="title brandon-regular-italic">MARYLINE - brandon-regular-italic</h2>
    <h2 class="title brandon-regular">MARYLINE - brandon-regular</h2>
    <h2 class="title brandon-thin-italic">MARYLINE - brandon-thin-italic</h2>
    <h2 class="title brandon-thin">MARYLINE - brandon-thin</h2>

  </div>
</RedLayout>


<style>
  .title {
    font-size: 2rem;
  }

  pre {
    background-color:rgb(221 195 255);
    border-radius: 6px;
    margin: 20px 0;
  }
</style>
