---
import RedLayout from '../layouts/RedLayout.astro';
---


<RedLayout >
  <div slot="main">

    <div class="example">
      <h2>1. OTF (OpenType Font)</h2>
      <p>Compatible con la mayoría de los navegadores modernos. Es uno de los formatos más comunes para fuentes en la web y el escritorio.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {`
          @font-face {
            font-family: 'MyOTFFont';
            src: url('/fonts/my-font.otf') format('opentype');
          }`}
      </code></pre>
    </div>
  
    <div class="example">
      <h2>2. TTF (TrueType Font)</h2>
      <p>Es otro formato común de fuentes que es ampliamente soportado en la web.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {
          `
          @font-face {
            font-family: 'MyTTFFont';
            src: url('/fonts/my-font.ttf') format('truetype');
          }
          `
        }
      </code></pre>
    </div>
  
    <div class="example">
      <h2>3. WOFF y WOFF2 (Web Open Font Format)</h2>
      <p>Formato especialmente diseñado para la web. WOFF2 es una versión mejorada que ofrece mayor compresión.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {
          `
          @font-face {
            font-family: 'MyWOFFFont';
            src: url('/fonts/my-font.woff2') format('woff2'),
                url('/fonts/my-font.woff') format('woff');
          }
          `
        }
  
      </code></pre>
    </div>
  
    <div class="example">
      <h2>4. EOT (Embedded OpenType)</h2>
      <p>Fue diseñado para Internet Explorer y ya está en desuso en la mayoría de los navegadores modernos.</p>
      <p><strong>Ejemplo de uso:</strong></p>
      <pre><code>
        {
         `
          @font-face {
            font-family: 'MyEOTFont';
            src: url('/fonts/my-font.eot') format('embedded-opentype');
          }
         ` 
        }
      </code></pre>
    </div>


    <h2 class="title futura">MARYLINE - Futura</h2>
    <h2 class="title neue15">MARYLINE - neue15</h2>
    <h2 class="title neue16">MARYLINE - neue16</h2>
    <h2 class="title neue35">MARYLINE - neue35</h2>
    <h2 class="title neue36">MARYLINE - neue36</h2>
    <h2 class="title neue45">MARYLINE - neue45</h2>
    <h2 class="title neue46">MARYLINE - neue46</h2>
    <h2 class="title neue55">MARYLINE - neue55</h2>
    <h2 class="title neue56">MARYLINE - neue56</h2>
    <h2 class="title neue65">MARYLINE - neue65</h2>
    <h2 class="title neue66">MARYLINE - neue66</h2>
    <h2 class="title neue75">MARYLINE - neue75</h2>
    <h2 class="title neue76">MARYLINE - neue76</h2>
    <h2 class="title neue95">MARYLINE - neue95</h2>
    <h2 class="title neue96">MARYLINE - neue96</h2>

    <h2 class="title mark-pro-book">MARYLINE - Mark Pro Book</h2>
    <h2 class="title mark-pro-black">MARYLINE - Mark Pro Black</h2>
    <h2 class="title mark-pro-extra-light">MARYLINE - Mark Pro Extra Light</h2>
    <h2 class="title mark-pro-hairline">MARYLINE - Mark Pro Hairline</h2>
    <h2 class="title mark-pro-heavy">MARYLINE - Mark Pro Heavy</h2>
    <h2 class="title mark-pro-light">MARYLINE - Mark Pro Light</h2>
    <h2 class="title mark-pro-medium">MARYLINE - Mark Pro Medium</h2>
    <h2 class="title mark-pro-thin">MARYLINE - Mark Pro Thin</h2>
    <h2 class="title mark-pro">MARYLINE - Mark Pro</h2>
      

    <h2 class="title aduma-bold">MARYLINE - Aduma Bold</h2>
    <h2 class="title aduma-heavy">MARYLINE - Aduma Heavy</h2>
    <h2 class="title aduma-light">MARYLINE - Aduma Light</h2>
    <h2 class="title aduma-medium">MARYLINE - Aduma Medium</h2>
    <h2 class="title aduma-regular">MARYLINE - Aduma Regular</h2>

  
    <h2 class="title brandon-bold-italic">MARYLINE - Brandon Bold Italic</h2>
    <h2 class="title brandon-bold">MARYLINE - Brandon Bold</h2>
    <h2 class="title brandon-black-italic">MARYLINE - Brandon Black Italic</h2>
    <h2 class="title brandon-black">MARYLINE - Brandon Black</h2>
    <h2 class="title brandon-light-italic">MARYLINE - Brandon Light Italic</h2>
    <h2 class="title brandon-light">MARYLINE - Brandon Light</h2>
    <h2 class="title brandon-medium-italic">MARYLINE - Brandon Medium Italic</h2>
    <h2 class="title brandon-medium">MARYLINE - Brandon Medium</h2>
    <h2 class="title brandon-regular-italic">MARYLINE - Brandon Regular Italic</h2>
    <h2 class="title brandon-regular">MARYLINE - Brandon Regular</h2>
    <h2 class="title brandon-thin-italic">MARYLINE - Brandon Thin Italic</h2>
    <h2 class="title brandon-thin">MARYLINE - Brandon Thin</h2>

  </div>
</RedLayout>

<style>

  @font-face {
    font-family: 'Futura';
    src: url('/fonts/futura/futura.ttf') format('ttf');
  }


  /* NHaasGroteskDSPro */

  @font-face {
    font-family: 'NHaasGroteskDSPro-15UltTh';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-15UltTh.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-16UltThIt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-16UltThIt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-25Th';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-25Th.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-26ThIt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-26ThIt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-35XLt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-35XLt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-36XLtIt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-36XLtIt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-45Lt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-45Lt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-46LtIt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-46LtIt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-55Rg';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-55Rg.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-56It';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-56It.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-65Md';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-65Md.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-66MdIt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-66MdIt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-75Bd';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-75Bd.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-76BdIt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-76BdIt.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-95Blk';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-95Blk.otf') format('opentype');
  }

  @font-face {
    font-family: 'NHaasGroteskDSPro-96BlkIt';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-96BlkIt.otf') format('opentype');
  }

  /* Mark Pro */

  @font-face {
    font-family: 'FF-Mark-Pro-Book';
    src: url('/public/fonts/mark-pro/FF-Mark-Pro-Book.otf') format('opentype');
  }

  @font-face {
    font-family: 'MarkPro-Black';
    src: url('/public/fonts/mark-pro/MarkPro-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkPro-ExtraLight';
    src: url('/public/fonts/mark-pro/MarkPro-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkPro-Hairline';
    src: url('/public/fonts/mark-pro/MarkPro-Hairline.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkPro-Heavy';
    src: url('/public/fonts/mark-pro/MarkPro-Heavy.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkPro-Light';
    src: url('/public/fonts/mark-pro/MarkPro-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkPro-Medium';
    src: url('/public/fonts/mark-pro/MarkPro-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkPro-Thin';
    src: url('/public/fonts/mark-pro/MarkPro-Thin.ttf') format('truetype');
  }

  @font-face {
    font-family: 'MarkPro';
    src: url('/public/fonts/mark-pro/MarkPro.ttf') format('truetype');
  }


  @font-face {
    font-family: 'Aduma-Bold';
    src: url('/fonts/aduma/AdumaFOT-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'Aduma-Heavy';
    src: url('/fonts/aduma/AdumaFOT-Heavy.otf') format('opentype');
  }

  @font-face {
    font-family: 'Aduma-Light';
    src: url('/fonts/aduma/AdumaFOT-Light.otf') format('opentype');
  }

  @font-face {
    font-family: 'Aduma-Medium';
    src: url('/fonts/aduma/AdumaFOT-Medium.otf') format('opentype');
  }

  @font-face {
    font-family: 'Aduma-Regular';
    src: url('/fonts/aduma/AdumaFOT-Regular.otf') format('opentype');
  }

  /* Brandon */

  @font-face {
    font-family: 'Brandon-Bold-Italic';
    src: url('/public/fonts/brandon/Brandon_bld_it.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Bold';
    src: url('/public/fonts/brandon/Brandon_bld.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Black-Italic';
    src: url('/public/fonts/brandon/Brandon_blk_it.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Black';
    src: url('/public/fonts/brandon/Brandon_blk.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Light-Italic';
    src: url('/public/fonts/brandon/Brandon_light_it.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Light';
    src: url('/public/fonts/brandon/Brandon_light.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Medium-Italic';
    src: url('/public/fonts/brandon/Brandon_med_it.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Medium';
    src: url('/public/fonts/brandon/Brandon_med.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Regular-Italic';
    src: url('/public/fonts/brandon/Brandon_reg_it.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Regular';
    src: url('/public/fonts/brandon/Brandon_reg.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Thin-Italic';
    src: url('/public/fonts/brandon/Brandon_thin_it.otf') format('opentype');
  }

  @font-face {
    font-family: 'Brandon-Thin';
    src: url('/public/fonts/brandon/Brandon_thin.otf') format('opentype');
  }
  

  .title {
    font-size: 4rem;
  }

  .example {
      margin-bottom: 20px;
  }

  .example p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .futura {
    font-family: 'Futura', 'Times New Roman', Times, serif;
  }

  .neue15 {
    font-family: 'NHaasGroteskDSPro-15UltTh', 'Times New Roman', Times, serif;
  }

  .neue16 {
    font-family: 'NHaasGroteskDSPro-16UltThIt', 'Times New Roman', Times, serif;
  }

  .neue35 {
    font-family: 'NHaasGroteskDSPro-35XLt', 'Times New Roman', Times, serif;
  }

  .neue36 {
    font-family: 'NHaasGroteskDSPro-36XLtIt', 'Times New Roman', Times, serif;
  }

  .neue45 {
    font-family: 'NHaasGroteskDSPro-45Lt', 'Times New Roman', Times, serif;
  }

  .neue46 {
    font-family: 'NHaasGroteskDSPro-46LtIt', 'Times New Roman', Times, serif;
  }

  .neue55 {
    font-family: 'NHaasGroteskDSPro-55Rg', 'Times New Roman', Times, serif;
  }

  .neue56 {
    font-family: 'NHaasGroteskDSPro-56It', 'Times New Roman', Times, serif;
  }

  .neue65 {
    font-family: 'NHaasGroteskDSPro-65Md', 'Times New Roman', Times, serif;
  }

  .neue66 {
    font-family: 'NHaasGroteskDSPro-66MdIt', 'Times New Roman', Times, serif;
  }

  .neue75 {
    font-family: 'NHaasGroteskDSPro-75Bd', 'Times New Roman', Times, serif;
  }

  .neue76 {
    font-family: 'NHaasGroteskDSPro-76BdIt', 'Times New Roman', Times, serif;
  }

  .neue95 {
    font-family: 'NHaasGroteskDSPro-95Blk', 'Times New Roman', Times, serif;
  }

  .neue96 {
    font-family: 'NHaasGroteskDSPro-96BlkIt', 'Times New Roman', Times, serif;
  }

  .mark-pro-book {
    font-family: 'FF-Mark-Pro-Book', 'Times New Roman', Times, serif;
  }

  .mark-pro-black {
    font-family: 'MarkPro-Black', 'Times New Roman', Times, serif;
  }

  .mark-pro-extra-light {
    font-family: 'MarkPro-ExtraLight', 'Times New Roman', Times, serif;
  }

  .mark-pro-hairline {
    font-family: 'MarkPro-Hairline', 'Times New Roman', Times, serif;
  }

  .mark-pro-heavy {
    font-family: 'MarkPro-Heavy', 'Times New Roman', Times, serif;
  }

  .mark-pro-light {
    font-family: 'MarkPro-Light', 'Times New Roman', Times, serif;
  }

  .mark-pro-medium {
    font-family: 'MarkPro-Medium', 'Times New Roman', Times, serif;
  }

  .mark-pro-thin {
    font-family: 'MarkPro-Thin', 'Times New Roman', Times, serif;
  }

  .mark-pro {
    font-family: 'MarkPro', 'Times New Roman', Times, serif;
  }

  .aduma-bold {
    font-family: 'Aduma-Bold', 'Times New Roman', Times, serif;
  }

  .aduma-heavy {
    font-family: 'Aduma-Heavy', 'Times New Roman', Times, serif;
  }

  .aduma-light {
    font-family: 'Aduma-Light', 'Times New Roman', Times, serif;
  }

  .aduma-medium {
    font-family: 'Aduma-Medium', 'Times New Roman', Times, serif;
  }

  .aduma-regular {
    font-family: 'Aduma-Regular', 'Times New Roman', Times, serif;
  }

  .brandon-bold-italic {
    font-family: 'Brandon-Bold-Italic', 'Times New Roman', Times, serif;
  }

  .brandon-bold {
    font-family: 'Brandon-Bold', 'Times New Roman', Times, serif;
  }

  .brandon-black-italic {
    font-family: 'Brandon-Black-Italic', 'Times New Roman', Times, serif;
  }

  .brandon-black {
    font-family: 'Brandon-Black', 'Times New Roman', Times, serif;
  }

  .brandon-light-italic {
    font-family: 'Brandon-Light-Italic', 'Times New Roman', Times, serif;
  }

  .brandon-light {
    font-family: 'Brandon-Light', 'Times New Roman', Times, serif;
  }

  .brandon-medium-italic {
    font-family: 'Brandon-Medium-Italic', 'Times New Roman', Times, serif;
  }

  .brandon-medium {
    font-family: 'Brandon-Medium', 'Times New Roman', Times, serif;
  }

  .brandon-regular-italic {
    font-family: 'Brandon-Regular-Italic', 'Times New Roman', Times, serif;
  }

  .brandon-regular {
    font-family: 'Brandon-Regular', 'Times New Roman', Times, serif;
  }

  .brandon-thin-italic {
    font-family: 'Brandon-Thin-Italic', 'Times New Roman', Times, serif;
  }

  .brandon-thin {
    font-family: 'Brandon-Thin', 'Times New Roman', Times, serif;
  }

</style>


