---
import Heading from '../components/Heading.astro';
import RedLayout from '../layouts/RedLayout.astro';
---

<RedLayout title="home">
  <div slot="main" class="main-slot">
    <Heading tagName="h1" size="h4" classes="neue76"> EXAMPLES </Heading>

    <hr />
    <br />

    <div class="links">
      <a href="/clerk-auth" class="link neue15">Clerk Auth</a>
      <a href="/async" class="link neue15">Async</a>
      <a href="/islands" class="link neue15">Islands</a>
      <a href="/islands-v2" class="link neue15">Islands V2 - Debuging</a>
      <a href="/shadcn" class="link neue15">Shadcn</a>
      <a href="/posts" class="link neue15">Posts (Form example)</a>
    </div>
  </div>
</RedLayout>

<style>
  .links {
    display: flex;
    flex-direction: column;
  }
  .link {
    font-size: 2rem;
  }
  .link:hover {
    font-weight: 600;
  }
</style>
