---
// varieties
// 1. text, text with icon
// 1. icon - square

type BtnVarieties = {
  default: string;
  icon: string;
};

type AstroProps = {
  classes: string;
  variety: keyof BtnVarieties;
  borderLess: boolean;
  color?: string;
};

const btnVarieties = {
  default: 'btn--default',
  icon: 'btn--icon',
};

const {
  classes,
  variety,
  borderLess = false,
  color,
  ...rest
} = Astro.props as AstroProps;
---

<button class:list={
  ['btn', classes, btnVarieties[variety], 
  {
    borderless: borderLess
  },
   {
    ...rest
  }]}
>
  <slot></slot>
</button>

<style lang="scss" define:vars={{
  color,
}}>

  .primary {
    color: var(--color, cadetblue);
  }

  .secondary {
    color: blueviolet;
  }

  .btn--default {
    border:  cadetblue 1px solid;
  }

  .btn--icon {
    aspect-ratio: 1/1;
  }

  .borderless {
    border: 0;
  }
</style>