---
const { currentPage } = Astro.props;

const links = [
  { href: '/', label: 'Home (public)' },
  { href: '/about-us', label: 'About us (public)' },
  { href: '/dashboard', label: 'Dashboard (protected)' },
];

const filteredLinks = links.filter((link) => link.href !== currentPage);
---

<div>
  <ul>
    {filteredLinks.map(link => (
      <li><a class="brandon-light" href={link.href}>{link.label}</a></li>
    ))}
  </ul>
</div>