
---
import Link from './Link.astro';
---

<h2>Nav</h2>


<ul>
  <li>
    <Link href='/about' style={'primary'} >About</Link>
  </li>
  <li>
    <Link href='/islands' style={'primary'} >Islands</Link>
  </li>
  <li>
    <Link href='/prices-card' style={'primary'} >Prices Cards</Link>
  </li>
</ul>
