---
import Link from './Link.astro';
---


<ul>
  <li>
    <Link href='/about-us' style={'primary'} >About us</Link>
  </li>
  <li>
    <Link href='/islands' style={'primary'} >Islands</Link>
  </li>
  <li>
    <Link href='/prices-card' style={'primary'} >Prices Cards</Link>
  </li>
</ul>
