---
// frontmater:: server side code
import '../styles/global.scss';
import '../styles/fonts.scss';
import { Toaster } from '@/components/ui/sonner';
import {
  SignInButton,
  SignedIn,
  SignedOut,
  UserButton,
} from '@clerk/astro/components';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-links-left">
        <li><a href="/">Home</a></li>
        <li><a href="/fonts">fonts</a></li>
        <!-- <li><a href="#pricing">Pricing</a></li> -->
      </ul>
      <ul class="nav-links-right">
        <!-- <li><a href="#signin">Sign In</a></li> -->
        <li>
          <SignedOut>
            <SignInButton mode="redirect" asChild
              ><a href="#">Sign In</a></SignInButton
            >
          </SignedOut>
          <SignedIn>
            <UserButton />
          </SignedIn>
        </li>
      </ul>
    </nav>

    <div class="arepa-container">
      <slot name="sidebar" />
      <slot name="main" />
      <Toaster client:load />
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    background: black;
  }

  .arepa-container {
    background: #f5f1e9;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    height: 32px;
  }

  .nav-links-left,
  .nav-links-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-links-left li a,
  .nav-links-right li a {
    color: #f0ede9;
    text-decoration: none;
    font-family: 'NHaasGroteskDSPro-55Rg', 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .nav-links-left li a:hover,
  .nav-links-right li a:hover {
    color: #dfdcdcb1;
  }

  .nav-links-left li + li::before {
    content: '|';
    color: #f0ede9;
    margin: 0 10px;
  }
</style>
