---
import Heading from '../../../components/Heading.astro';
import { PostForm } from '../../../components/PostForm';
import { Button } from '../../../components/ui/button';
import RedLayout from '../../../layouts/RedLayout.astro';
import type { PostResponse } from '../../../types/post';

const postId = Astro.url.pathname.split('/').pop();

let post: PostResponse | null = null;

try {
  const res = await fetch(`http://localhost:3000/api/v1/post/${postId}`);
  if (res.ok) {
    const response = await res.json();
    if (response.code === 200 && response.status === 'OK') {
      post = response.data;
    }
  }
} catch (error) {
  console.error('Error fetching the post:', error);
}
---

<RedLayout title="Edit Post">
  <div slot="main" class="main-slot">
    <Heading tagName="h1" size="h4" classes="neue76"> EDIT POST </Heading>

    <a href="/posts">
      <Button variant="outline"> View Posts </Button>
    </a>

    {
      post ? (
        // TODO
        // Type '{ post: PostResponse; "client:load": true; }' is not assignable to type 'IntrinsicAttributes'.
        // Property 'post' does not exist on type 'IntrinsicAttributes'.
        <PostForm post={post} client:load />
      ) : (
        <p class="text-red-500 mt-6">Post not found or unable to load data.</p>
      )
    }

    <br />
  </div>
</RedLayout>
